
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-20: #212329;
    --cor-70: #ffffff;
    --font-paragrafo: "Inter", sans-serif;
    --font-titulo: "Sora", sans-serif;
    --font-destaque: "DM Sans", sans-serif;
}

nav {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    background-color: #f3f3f33c;
    border-bottom: 0.5px solid #2123292a;
    backdrop-filter: blur(10px);
}

nav .container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 25px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--cor-20);
    font-size: 16px;
    font-family: var(--font-paragrafo);
    font-weight: 400;
}

nav ul .container-btn {
    background: rgb(255,171,171);
    background: linear-gradient(60deg, rgba(255,171,171,1) 0%, rgba(197,21,21,1) 35%, rgba(255,171,171,1) 100%);
    color: var(--cor-70);
    padding: 15px 40px;
    border-radius: 50px;
    font-family: var(--font-titulo);
    font-weight: normal;
    font-size: 16px;
    cursor: pointer;
}

nav .container .container-img {
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .container .container-img img {
    max-width: 100%;
    height: auto;
}

.blur {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    z-index: -1;
}

header section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

header section .container-headline {
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

header section .container-headline h1 {
    font-size: 60px;
    text-align: center;
    font-family: var(--font-titulo);
    font-weight: 400;
    color: var(--cor-20);
}

header section .container-headline h1 span {
    font-weight: 700;
    background: linear-gradient(60deg, rgba(255,171,171,1) 0%, rgba(197,21,21,1) 35%, rgba(255,171,171,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

header section .container-headline p {
    max-width: 75%;
    text-align: center;
    font-size: 18px;
    font-family: var(--font-paragrafo);
    color: var(--cor-20);
}

header section .container-headline a {
    background: rgb(255,171,171);
    background: linear-gradient(60deg, rgba(255,171,171,1) 0%, rgba(197,21,21,1) 35%, rgba(255,171,171,1) 100%);
    color: var(--cor-70);
    padding: 15px 60px;
    border-radius: 50px;
    font-family: var(--font-titulo);
    font-weight: normal;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}


.mapa {
    display: flex;
    justify-content: center;
   
}

.mapa-container {
    display: flex;
    justify-content: space-between;
    width: 75%;
    align-items: center;
    flex-wrap: wrap;

}

.mapa-conteudo {
    display: flex;
    gap: 10px;
    flex-direction: column;
    
}

.mapa-conteudo h2 {
    font-family: var(--font-titulo);
    font-size: 48px;
    font-weight: 500;
    max-width: 640px;
}

.mapa-conteudo p {
    font-family: var(--font-paragrafo);
    font-size: 18px;
    font-weight: 200;
    max-width: 640px;
}
.mapa-mapa{
    max-width: 240px;
    display: flex;
    align-items: center;
    justify-content:center ;
}

.mapa-mapa img {
    width: 100%;
    height: auto;
}

.container-cart {
    display: flex;
    justify-content: center;
}

.container-cart .cart {
    display: flex;
    justify-content: space-between;
    width: 75%;
    gap: 20px;
    padding: 50px 0 100px;
}

.container-cart .cart .cart-item {
    background: var(--cor-20);
    color: var(--cor-70);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    width: 370px;
    height: 270px;
    border-radius: 30px;
    border: 1px solid #7B7B7B;
}

.container-cart .cart .cart-item h2 {
    font-family: var(--font-titulo);
    font-weight: 400;
    text-transform: capitalize;
    font-size: 24px;
    text-align: center;
}

.swiper {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-carr {
    padding: 50px;
}

.container-carr h2 {
    font-family: var(--font-titulo);
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    margin: 20px 0;
}

.container-carr .carr {
    width: 75%;
}

.news {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}


.news h2{
    font-family: var(--font-titulo);
    font-size: 48px;
    font-weight: 500;
    margin: 40px 0;
    color: var(--cor-20);
}

.news-news {
    width: 75%;
    display: flex;
    justify-content: space-between;
 
}

.news-conteiner {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-20);
    border-radius: 20px;
    overflow: hidden;
    
}

.cover img {
    width: 20em;
}

.news-content {
    width: 20rem;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.news-content h3 {
    font-family: var(--font-titulo);
    font-size: 24px;
    color: var(--cor-70);
    font-weight: 400;
    text-transform: capitalize;
}

.news-content p {
    font-family: var(--font-paragrafo);
    font-size: 14px;
    font-weight: 100;
    width: 100%;
    text-align: left;
    color: var(--cor-70);
    background-color: var(--cor-20);
    line-height: 25px;
}
.sobre{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.sobre h2{
    margin: 40px 0 40px 0;
    font-family: var(--font-titulo);
    font-size: 48px;
    font-weight: 500;
    color: var(--cor-20);
}
.sobre-container{
    width: 75%;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    overflow: hidden;
    
}
.sobre-img{
    display: flex;
    align-items: center;

    max-width: 640px;
    
}
.sobre-img img{
    width: 100%;
    height: auto;
}
.sobre-conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-20);
    max-width: 640px;
}
.sobre-conteudo h3{
    text-align: left !important;
    font-family: var(--font-titulo);
    font-size: 32px;
    font-weight: 500;
    color: var(--cor-70);
}
.sobre-conteudo p{
    color: var(--cor-70);
    font-family: var(--font-paragrafo);
    font-weight: 100;
    width: 80%;
    line-height: 25px;
}
.sobre-conteudo a{
    background: rgb(255,171,171);
    background: linear-gradient(60deg, rgba(255,171,171,1) 0%, rgba(197,21,21,1) 35%, rgba(255,171,171,1) 100%);
    color: var(--cor-70);
    padding: 15px 40px;
    border-radius: 50px;
    font-family: var(--font-titulo);
    font-weight: normal;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;

}
.conteudo-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}
.word{
    display: flex;
    justify-content: center;
}
.word-container{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
    gap: 20px;
}
.word-container h2{
    font-family: var(--font-destaque);
    font-size: 48px;
    color: var(--cor-20);
}
.word-container p{
    font-family: var(--font-paragrafo);
    font-weight: 300;
    max-width: 760px;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    color: var(--cor-20);
}
footer{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
footer p{
    font-family: var(--font-paragrafo);
    font-size: 16px;
    color: var(--cor-20);
}
@media(max-width: 840px){
    .container-cart{
        justify-content: center;
        
    }
    .container-cart .cart {
        flex-direction: column;
        align-items: center;
    }
    .mapa-container{
        flex-direction: column-reverse;
        gap: 40px;
    }
    .mapa-conteudo h2{
        font-size: 32px;
        text-align: center;
    }
    .mapa-conteudo p{
        font-size: 16px;
        text-align: center;
        max-width: 500px;
    }
    .mapa-mapa{
        max-width: 200px;
    }
    .sobre-container{
        flex-direction: column;
    }
   
    .sobre-conteudo{
        padding: 40px 0;
    }
    .sobre h2{
        font-size: 32px;
    }
    .swiper{
        width: 100%;
    }
    .swiper h2{
        font-size: 32px;
    }
    .news-news{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .news h2{
        font-size: 32px;
    }
    .word-container h2{
        text-align: center;
    }
    .word-container p{
        text-align: center;
    }
    footer p{
        text-align: center;
    }
}
/* responsividade para mobile*/

@media(max-width: 500px){
    nav{
        display: none;
    }

    header section .container-headline h1{
        font-size: 28px;
        
    }

    header section .container-headline p{
        font-size: 14px;
        max-width: 384px;
    }

    header section .container-headline a{
        font-size: 14px;
        padding: 10px 30px;
    }

    .container-cart .cart .cart-item{
        width: 265px;
        border: 0;
        border-radius: 0;
    }

    .container-cart .cart {
        gap: 0;
        background-color: var(--cor-20);
        border-radius: 12px;
    }

    .container-cart {
        padding: 40px  ;
    }

    .mapa-conteudo{
        width: 367px;
        
    }

    .mapa-mapa img{
        width: 213px;
    }

    .mapa-conteudo h2{
        font-size: 28px;
        
    }

    .mapa-conteudo p{
        font-size: 17.17px;
        text-align: left;
    }

   
    .sobre-conteudo{
        width: 350px;
        border-radius: 0 0 25px;
    }

    .sobre h2{
        font-size: 29px;
        text-align: left;
    }

    .sobre-conteudo h3{
        font-size: 25px;
        text-align: left;
       
    }

    .conteudo-container{
        display: flex;
        gap: 10px;
    }
    .sobre-conteudo p{
        font-size: 15px;
        text-align: left;
        width: 300px;
    }

    .sobre-conteudo a{
        padding: 10px 20px;
        font-size: 12px;
    }

    .sobre-img img{
        width: 350px;
        border-radius: 0px 25px 0px 0;
    }
    
}