*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-20: #212329;
    --cor-70: #ffffff;
    --font-paragrafo: "Inter", sans-serif;
    --font-titulo: "Sora", sans-serif
}


nav{
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    background-color: #f3f3f33c;
    border-bottom: 0.5px solid #2123292a;
    backdrop-filter: blur(10px);



}
nav .container{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
nav ul{
    display: flex;
    gap: 25px;
    
}
nav ul li{
    list-style: none;
    
}
nav ul li a{
    text-decoration: none;
    color: var(--cor-20);
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;

    
}
nav ul .container-btn{
    background: rgb(255,171,171);
    background: linear-gradient(60deg, rgba(255,171,171,1) 0%, rgba(197,21,21,1) 35%, rgba(255,171,171,1) 100%);
    color: var(--cor-70);
    padding: 15px 40px 15px 40px;
    border-radius: 50px;
    font-family: var(--font-titulo);
    font-weight: normal;
    font-size: 16px;
    cursor: pointer;
    
}
nav .container .container-img{
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;

}
nav .container .container-img img{
    max-width: 100%;
    height: auto;
}
.blur{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    z-index: -1;
}

header section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
header section .container-headline{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
header section .container-headline h1{
    font-size: 60px;
    text-align: center;
    font-family: var(--font-titulo);
    font-weight: 400;
    max-width: 85%;
}
header section .container-headline h1 span{
    font-weight: 700;
    background: linear-gradient(60deg, rgba(255,171,171,1) 0%, rgba(197,21,21,1) 35%, rgba(255,171,171,1) 100%); /* Define o degradê de cores */
    -webkit-background-clip: text; /* Faz com que o degradê apareça no texto */
    -webkit-text-fill-color: transparent; /* Torna o texto transparente para que o degradê seja visível */
    background-clip: text; /* Para navegadores não WebKit */
    color: transparent;
}
header section .container-headline p{
    max-width: 65%;
    text-align: center;
    font-size: 18px;
    font-family: var(--font-paragrafo);
    color: var(--cor-20);
}
header section .container-headline a{
    background: rgb(255,171,171);
    background: linear-gradient(60deg, rgba(255,171,171,1) 0%, rgba(197,21,21,1) 35%, rgba(255,171,171,1) 100%);
    color: var(--cor-70);
    padding: 15px 60px 15px 60px;
    border-radius: 50px;
    font-family: var(--font-titulo);
    font-weight: normal;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}


.mapa{
    display: flex;
    justify-content: center;
  
}

.mapa-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.mapa-conteudo{
    margin-bottom: 10rem;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.mapa-conteudo h2{
    font-family: var(--font-titulo);
    font-size: 48px;
    font-weight: 500;
}

.mapa-conteudo p{
    font-family: var(--font-paragrafo);
    font-size: 18px;
    font-weight: 200;
    width: 712px;
}
.mapa-mapa img{
    width: 254px;
}

.news{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.news-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-titulo);
    font-size: 30px;
    font-weight: 400;
}

.news-news{
    width: 75%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 5rem 10rem
}

.news-conteiner{
    display: flex;
    flex-direction: column;
    background-color: #212329;
    border-radius: 12px;
    
}

.cover img{
    width: 20em;
}

.news-content{
    width: 20rem;
    padding: 15px;
    
}

.news-content h2{
    font-family: var(--font-titulo);
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
}

.news-content p{
    font-family: var(--font-paragrafo);
    font-size: 12px;
    font-weight: 200;
    width: 100%;
    text-align: left;
    color: #ffffff;
    background-color: #212329;
}